/AuthServer/build/
/Client/nbproject/private/
/Client/build/
/Client/dist/
/candidate/nbproject/private/
/election/nbproject/private/
/candidate/build/
/candidate/dist/
/electionImp/nbproject/private/
/election/dist/
/election/build/
/ElecServer/nbproject/private/
/electionImp/build/
/electionImp/dist/
/Client1/nbproject/private/
/Client1/build/
/ElecServer/build/
/ElecServer/dist/
/AuthServer/nbproject/private/
/AuthServer/dist/